;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Sat Jul 27 01:06:59 2013
;; Desktop file format version 206
;; Emacs version 23.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/ros/stacks/AutoNav/src/stateestimation/" "~/ros/stacks/AutoNav/src/stateestimation/EstimationNode.cpp"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/dev/ros/stacks/AutoNav/src/stateestimation/EstimationNode.cpp"
  "EstimationNode.cpp"
  'c++-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/dev/ros/stacks/AutoNav/.gitignore"
  ".gitignore"
  'fundamental-mode
  nil
  95
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

